html {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    background-color: #fe7f18 ;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

.carousel-container {
    width: 80%; /* Ajuste conforme necessário */
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.carousel-slide {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.carousel-slide img {
    width: 100%; /* Cada imagem ocupa 100% da largura do contêiner */
    height: auto; /* Ajusta a altura automaticamente para manter a proporção */
    flex: 0 0 100%; /* Garante que uma imagem ocupe 100% da área visível */
    object-fit: cover; /* Cobre o contêiner, mantendo as proporções */
    object-position: top; /* Mantém o foco na parte superior da imagem */
    max-height: 600px; /* Ajuste para manter uma altura razoável */
    border-radius: 5px;
}



#services, #contact {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

h2 {
    color: #333;
}

.contato-itens {
    text-align: center;
}

.contato-icones {
    margin: 2rem;
}

#testimonials {
    background-color: #f9f9f9;
    padding: 40px 20px;
    text-align: center;
}

.testimonial-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.testimonial {
    flex-basis: 30%;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial p {
    font-style: italic;
    color: #333;
}

.testimonial span {
    display: block;
    margin-top: 10px;
    color: #666;
}


#highlighted-services {
    background-color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-item {
    flex-basis: 30%;
    margin: 20px;
    text-align: center;
}

.service-item img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.service-item h3 {
    margin-bottom: 10px;
}

.service-item p {
    color: #666;
}


.text-footer {
    text-align: center;
    padding: 10px;
    color: #fff;
}

footer {
    background-color: #333;
    padding: 10px;
    margin-top: auto;

}
